body{
  margin: 0;
  padding: 0;
  border: solid #dce3f9 1.5em;
}
.side {
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 40em;
}
nav {
  height: 80px;
  width: 100%;
  background:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  position: sticky;
  top: 15px;
}
.logo {
  text-transform: capitalize;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 30px;
  padding: 10px;
}

nav li {
  padding: 0 3em;
  }
.navigation{
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
}
.hero {
  height: 90vh;
  background: #dce3f9;
  display: flex;
  margin: 1.5em 0 0 5em;
  align-items: center;
  }
.hero-text {
  width: 500px;
  margin: 18em 60em 30em 18em;
}
h1 {
  font-size: 4em;
}
.hero-text button {
  background: #f70048;
  height: 4em;
  width: 12em;
  border-radius: 2.5em;
  border: none;
  color: white;
  text-transform: uppercase;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em
  }
  .image {
    width: 15em;
    height: 15em;
    background:grey;
    display: flex;
  
  }
  .owl-text {
    height: 50vh;
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 5em;
  }

  .clients ul {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 18em;
    list-style: none;
  }
.clients li {
  font-size: 2em;
  color: #ccc;
}
.bookSection {
  margin: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.library {
  height: 10em;
  width: 10em;
  background: rgb(165, 64, 64);
}
.bookSection h2 {
  font-size: 2.3em;
}
.second {
  font-size: 1.3em;
}
.page3 {
  display: flex;
}
.leftElement {
  background: aquamarine;
  height: 80vh;
  width: 30em;
  margin: 0 8em;
}
.littleBox {
  background: white;
  height: 4em;
  width: 4em;
  display: flex;
  margin: 5em;
}
.leftElement h2 {
  color: white;
  font-size: 2.5em;
  padding: none;
  margin: none;
}
.sprintImage {
  background: pink;
  height: 28vh;
  width: 30em;
  display: flex;
  align-items: flex-end;
  margin: none;
  padding: none;
}
.rightElement {
  height: 80vh;
  width: 35em;
}
.rightElement h1 {

}
.author {
  color: lightgray;
}
.paragraph {
  font-size: 1.3em;
}
.rightElement button {
  height: 3em;
  width: 9em;
  background: teal;
  border-radius: 2em;
}
.page4{

}
.left {
  background: red;
  width: 25vw;
  height: 50%;
}
.objetA {
  height: 4em;
  width: 4em;
  background: white;
}